<div class="homepage-container">

  <section class="homepage-slogan">
    <p>Good Ride</p>
    <p>Good Life</p>
  </section>

  <section class="homepage-highlight">
    <p>The journey of a thousand miles begins with one step</p>
  </section>
  

  <%= image_tag 'luke-stackpoole-YNQgPXShu7g-unsplash.jpg', alt: "New York Rides", class: "homepage-img" %>



</div>