<div class="homepage-container">

  <section class="homepage-slogan">
    <p>Good Ride</p>
    <p>Good Life</p>
  </section>

  <section class="homepage-right">
    <%= image_tag 'luke-stackpoole-YNQgPXShu7g-unsplash.jpg', 
      alt: "New York Rides, Photo by Luke Stackpoole on Unsplash", 
      class: "homepage-img" 
    %>
  </section>

  <section class="homepage-highlight">
    <p>The journey of a thousand miles begins with one step.</p>
  </section>

</div>