/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

body {
  min-height: 100vh;
  background-color: rgb(240, 239, 239);
}

.layout-footer, .layout-nav {
  padding: 2rem;
  text-align: center;
}

.layout-nav {
  background-color: black;
  height: 30vh;
  padding: 3rem 0 0 0;
}

.layout-footer {
  color: goldenrod;
  // font-family: fantasy;
  bottom: 0;
}


a:hover {
  color: rgb(102, 102, 173);
}

// drop-down menu reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover
.dropbtn, .homebtn {
  background-color: goldenrod;
  border: goldenrod solid 0.2rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  width: 10rem;
}


.homepage-logo {
  color: goldenrod;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 10rem 0 1rem;
}

.homebtn a {
  color: goldenrod;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 10rem;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color:goldenrod;
  color: whitesmoke;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: whitesmoke;
}

.dropdown:hover .homebtn {
  background-color:#3a3042;
  color: goldenrod;
}

.forms-style, .show-style {
  min-height: 75vh;
}

.index-view {
  padding: 2rem 5rem;
}

table, th, td {
  border: 0.2rem solid darkgray;
}

table {
  width: 75%;
  margin: 2rem 0;
}

th, td {
  height: 2.5rem;
}

.index-newbtn {
  background-color: goldenrod;
}

.nav-logo a:hover {
  text-decoration: none;
  color: whitesmoke;
}

.required{
  content:" *";
  color: red;
}